
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div> 
         恭喜你 你个大傻逼你登录成功！
    </div>
</body>
</html>
