
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <input value="" id="mydiv" />
    
    <div id="div1">
        <input data-bind="value:ttname" />
        <input data-bind="value:ttname2" />
    </div>
    <script data-main="/Scripts/main.js" src="/Scripts/require.js"></script>
</body>
</html>
