
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form enctype="multipart/form-data" method="post" action="/My/myindex">

    <input type="file" name="file" id="file" />

    <input type="submit" value="提交" />

</form>